//---- colors ----
$c-black: #000;
$c-white: #fff;
$c-gray: #6c757d;
$c-gray2: #a1a3a5;
$c-grayE: #eeeeee;
$c-theme: #0881bd;
$c-theme-dark: #0065a8;
$c-theme-dark2: #0065a8;
$c-grayD: #dddd;
$c-error: #ee202b;
$c-red: red;

//---- fonts ----
$roboto: 'Roboto', sans-serif;

$main-font: $roboto;

$normal: 500;
$light: 300;
$semibold: 700;
$bold: 800;
$extrabold: 900;

//----------